*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
}
header{
    padding: 80px 120px;
}
.nav-title{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .icon {
    display: none;
}
nav > ul {
    display: flex;
}
nav>ul>li{
    list-style: none;
    margin-left: 34px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.banner{
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 131px;
}
.banner-content{
    max-width: 582px;
}
.banner-title{
    color: #3A3A3A;
    font-size: 52px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    max-width: 505px;
    margin: 10px 0px 30px 0px;
    color: #3A3A3A;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
}
.btn{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 41px;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: center;
    gap: 8px;
}
.banner-img{
    background-image: url('images/Circle\ design.svg');
    padding: 30px 30px 30px 0px;
}
.ecomerce-logo{
    padding: 42px 165px;
    display: flex;
    justify-content: center;
    gap: 60px;
    border: 1px solid;
    border-image: linear-gradient(to right,transparent,rgba(128, 128, 128, 0.438),transparent);
    border-left: 0;
    border-right: 0;
    border-image-slice: 1;
}
.logo-1{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.logo-2{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.popular-collection{
    padding: 70px 196px;
    text-align: center;
}
.pc-title{
    padding: 30px;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}
.popular-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.popular-cards .card{
    width: 329px;
    padding: 12px 0px;
    text-align: center;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card-text{
    padding: 12px 14px;
    text-align: left;
}
.card-title{
    color: #18191F;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}
.card-price{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}
.checked {
    color: orange;
}
.card-description{
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
    margin-top: 5px;
}
@media screen and (max-width: 576px) {
    header{
        padding: 35px 16px;
    }
    nav .icon {
        display: block;
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        left: 16px;
        top: 35px;
    }
    .nav-title{
        font-size: 16px;
    }
    nav,
    nav > ul {
        flex-direction: column;
    }
    nav>ul>li:not(:last-child) {display: none;}
    nav>ul .cart{
        position: absolute;
        right: 16px;
        top: 35px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .banner-content{
        width: auto;
    }
    .banner-title{
        font-size: 28px;
        line-height: normal;
        text-align: center;
    }
    .banner-description{
        margin: 15px 20px 20px 18px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
    .btn{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .banner-img{
        padding: 20px 30px 30px 14px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .banner-img img{
        max-width: 202px;
    }
    .ecomerce-logo{
        padding: 50px 20px;
        flex-direction: column;
        gap: 20px;
        border: none;
    }
    .ecomerce-logo img{
        max-width: 65px;
    }
    .logo-1{
        justify-content: space-evenly;
        gap: 0px;
    }
    .logo-2{
        justify-content: space-evenly;
        gap: 0px;
    }
}
