*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
}
header{
    padding: 80px 120px;
}
.nav-title{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav>ul>li{
    list-style: none;
    margin-left: 34px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.banner{
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 131px;
}
.banner-content{
    max-width: 582px;
}
.banner-title{
    color: #3A3A3A;
    font-size: 52px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    max-width: 505px;
    margin: 10px 0px 30px 0px;
    color: #3A3A3A;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
}
.btn{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 41px;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: center;
    gap: 8px;
}
.banner-img{
    background-image: url('images/Circle\ design.svg');
    padding: 30px 30px 30px 0px;
}